:root{
    --yellow: #F5C32C;
      --orange : #FCA61F;
      --black : #242D49;
      --gray : #788097;
      --blueCard : #DDF8FE;
      --purple: rgb(238 210 255);
      --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
      --orangeCard: rgba(252, 166, 31, 0.45);
      --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  }
.card{
    width: 10rem;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}
.card span:nth-of-type(2) {
    color: var(--gray);
    font-size: 16px;
  }
.card > img {
    transform: scale(0.6);
    margin-bottom: -3rem;
  }

.c-button {
    background: #aaa7a7;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #000000;
}
.c-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card{
    position: static;
    width: auto;
  }
}