.intro{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
    .i-left{
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        
    }
        .i-name{
            display: flex;
            flex-direction: column;
        }
            .i-name > :nth-child(1){
                color: var(--black);
                font-weight: bold;
                font-size: 3rem;
            }
            .i-name > :nth-child(2){
                color: #fc5603;
                font-weight: bold;
                font-size: 3rem;
            }
            .i-name > :nth-child(3){
                color: var(--gray);
                font-weight: 100;
                font-size: 20px;
                margin-top: 10px;
            }

        .i-button{
            background: linear-gradient(180deg, #fc0330 26.71%, #fc0328 99.36%);
            box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
            border-radius: 20px;
            border: none;
            color: white;
            padding: 5px 20px 5px 20px;
            text-align: center;

            width: 12rem;
            height: 6rem;
            margin-top: 10px;
            font-size: 2rem;
                
        }
            .i-button:hover{
                cursor: pointer;
                color: var(--black);
            }
        .i-icons{
            margin-top: 3rem;
            display: flex;
            gap: 0rem;
        }
            .i-icons > *{
                transform: scale(0.5);
            }
            .i-icons > *:hover{
                cursor: pointer;
            }



    .i-right{
        flex: 1;
        position: relative;
    }
        .i-right > *{
            position: absolute;
            
        }
        .i-right > :nth-child(1){
           transform: scale(0.69);
           
            
        }
        .i-right > :nth-child(2){
            transform: scale(0.67);
           
            
        }
        .i-right > :nth-child(3){
            transform: scale(0.9);
            
            border-radius: 50%;
            
        }
        .i-right > :nth-child(4){
            transform: scale(0.9);
            
            border-radius: 50%;
            
        } .i-right > :nth-child(5){
            transform: scale(1);
            
            border-radius: 50%;
            
        }
        .blur {
                position: absolute;
                width: 22rem;
                height: 14rem;
                border-radius: 50%;
                background: #edd0ff;
                filter: blur(212px);
                z-index: -9;
                
                filter: blur(72px);
            }
            @media screen and (max-width: 480px) {
                .intro {
                    display: flex;
                    flex-direction: column;
                    gap: 7rem;
                    height: 50rem;
                  }
                  .i-name{
                    text-align: center;
                  }
                  .i-button{
                    width: auto;
                    height: auto;
                  }
                  .i-icons{
                    justify-content: space-around;
                  }
                
                  .i-right{
                    transform: scale(0.5);
                  }
                  .i-right .blur {
                    display: none;
                  }
                  .floating-div:nth-of-type(1){
                    /* display: none; */
                    top: -3rem !important;
                    left: 15rem!important;
                  }
              }